
#myName {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 8px #ed42d1;
    background-color:  #b3ecf5;
    padding: 60px;
    border-radius: 200px;
    border-style: solid;
    
}